apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx-basic
  name: nginx-deployment-basic
  namespace: giropops
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-basic
  strategy: {}
  template:
    metadata:
      labels:
        app: nginx-basic
    spec:
      containers:
      - image: nginx
        name: nginx
        resources:
          limits:
            cpu: "0.5"
            memory: 256Mi
          requests:
            cpu: "0.25"
            memory: 128Mi
